* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -53px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.container {
  max-width: 1600px;
  margin: 0 auto;
}

.container__logo {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
}

.fullblack_head {
  background-color: black;
}

.fullblack_footer {
  background-color: black;
}

.fullblack,
.push {
  height: 53px;
  background-color: black;
}

.left {
  display: flex;
  justify-content: space-between;
}

.right {
  display: flex;
  justify-content: space-between;
}

.search {
  padding-left: 4vh;
  padding-bottom: 1vh;
  margin-top: 1.7vh;
}

.menu1 {
  padding-top: 14px;
}

.menu2 {
  padding-left: 27px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu3 {
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* margin-right: 250px; */
}

.addbasket {
  position: relative;
  padding-right: 2vh;
}

.addprodukt {
  position: absolute;
  left: 35%;
  top: -10%;
}

.addproduktN {
  position: absolute;
  color: #FFFFFF;
  left: 46%;
  top: -10%;
}

.logo {
  padding-top: 1vh;
  padding-left: 2vh;
  padding-bottom: 1.5vh;
}

.top {
  background-color: #F7F7F7;
}

.container__top {
  position: relative;
  /* background-color: #F1E4E6; */
}

.top-pic {
  max-width: 65%;
  max-height: 100%;
}

.topPic {
  margin-left: -9%;
  margin-bottom: -1%;
  max-width: 100%;
  max-height: 100%;
}

.par {
  height: 92px;
  width: 12px;
  position: absolute;
  left: 54%;
  right: 45.25%;
  background: #F16D7F;
  top: 295px;
}

.container__box {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 50px;
  padding-right: 3%;
  padding-left: 3%;
}

.top_text {
  position: absolute;
  left: 55.75%;
  right: 12%;
  top: 289.9px;
  bottom: 382.1px;
}

.right-tp {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  padding-right: 8vh;
}

.headerIndex {
  border-left: 16px #F16D7F solid;
  padding-left: 1vw;
  font-size: 3vw;
  white-space: nowrap;
}

.headerIndex > :last-child {
  color: #F16D7F;
}

.brand {
  font-family: "Lato";
  font-style: normal;
  /* font-weight: 900; */
  font-size: 48px;
  line-height: 58px;
}

.lux {
  font-family: "Lato";
  font-style: normal;
  font-size: 35px;
  line-height: 45px;
}

.box {
  position: relative;
  max-width: 32%;
}

.box:hover {
  transform: scale(1.1);
}

.boxpic {
  max-width: 100%;
}

.boxpic:hover {
  transform: scale(1.1);
}

.mbox {
  position: relative;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.boxtext {
  position: absolute;
  left: 37%;
  top: 45%;
  text-align: center;
}

.longbox {
  position: relative;
  max-width: 100%;
}

.boxtextlong {
  position: absolute;
  left: 44%;
  top: 45%;
  text-align: center;
}

.textbox {
  font-family: "Lato";
  font-style: normal;
  font-size: 15px;
  line-height: 19px;
  color: #fff;
}

.textbox2 {
  font-family: "Lato";
  font-style: normal;
  font-size: 20px;
  line-height: 19px;
  color: #F16D7F;
}

.fash {
  color: #F16D7F;
}

.menu1 {
  padding-bottom: 20px;
  position: relative;
  z-index: 1;
}

.mega-box {
  background: #FFFFFF;
  border: 1px solid #F16D7F;
  padding: 20px;
  position: absolute;
  top: 62px;
  display: none;
}

.mega-heading-menu {
  text-transform: uppercase;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-bottom: 17px;
  margin-left: 17px;
}

.mega-heading {
  color: #F16D7F;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  padding-bottom: 7px;
}

.mega-link {
  font-family: "Lato";
  font-style: normal;
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-left: 20px;
  padding-right: 53px;
  padding-bottom: 7px;
  display: block;
  text-decoration: none;
}

.mega-link:hover {
  color: #F16D7F;
}

.menu1:hover .mega-box {
  display: flex;
  flex-direction: column;
}

/* section */
.section-box {
  max-width: 1140px;
  margin-top: 100px;
  margin-bottom: 20px;
  padding-right: 2vh;
  padding-left: 2vh;
}

.indexButCat {
  display: flex;
  justify-content: center;
}

.item-pic {
  width: 100%;
}

.h3-item {
  text-align: center;
  color: #222222;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

.item-par {
  margin-bottom: 60px;
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.item-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  padding: 0vh 2vh 0vh 2vh;
}

.item-link {
  position: relative;
  display: block;
  max-width: 360px;
}

.txt-box {
  padding-top: 25px;
  padding-left: 18px;
  padding-right: 28px;
  padding-bottom: 20px;
}

.h4-txt-box {
  text-transform: uppercase;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 12px;
  color: #000000;
}

.box-description {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 12px;
  color: #5D5D5D;
}

.box-price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.item {
  max-width: 360px;
  position: relative;
  margin-bottom: 40px;
}

.item:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  max-width: 360px;
  transform: scale(1.1);
}

.item:hover .item-pic {
  filter: brightness(30%);
}

.add-box {
  display: none;
  position: absolute;
  top: 188px;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}

.add {
  display: flex;
  padding: 6px 12px 6px 12px;
  align-items: center;
  border: 1px solid #FFFFFF;
  pointer-events: auto;
}

.add-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-left: 8px;
  color: #FFFFFF;
}

.add:hover {
  box-shadow: 0 0 10px #fff;
}

.item:hover .add-box {
  display: flex;
}

/* section */
.for-footer {
  background: #222224;
  min-height: 341px;
  align-items: center;
}

.container_footer {
  max-width: 1140px;
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  padding-top: 50px;
}

.bottomtext {
  font-family: "Lato";
  font-style: normal;
  color: #FBFBFB;
  padding-right: 1vh;
  padding-left: 1vh;
}

.picbottom {
  text-align: center;
  max-width: 360px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.for-form {
  background-image: url(img/bg-footer.jpg);
  background-size: cover;
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-repeat: no-repeat;
  background-position: bottom;
}

.container_form {
  max-width: 1140px;
  display: flex;
  justify-content: space-around;
  /* position: relative; */
}

.review {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 356px;
}

.review_scr {
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.reviver_Vest {
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
}

.rewiev_text {
  display: flex;
  flex-direction: column;
}

.button {
  font-family: "Lato";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  border-radius: 0 50px 50px 0;
  border-color: transparent;
  padding: 15px;
  cursor: pointer;
  color: #FFFFFF;
  background: #F16D7F;
}

.button:hover {
  border-color: #F16D7F;
  color: #F16D7F;
  background: #FFFFFF;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.reviwer_text {
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  padding: 2vh;
}

.review-h3-text {
  margin-bottom: 10px;
  margin-top: 100px;
}

.form-input {
  font-family: "Lato";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  background: #E1E1E1;
  border-radius: 50px 0 0 50px;
  padding: 0 1.5em 0 1.5em;
  border-color: transparent;
  min-width: 205px;
}

.left {
  display: flex;
  justify-content: center;
}

.copyright_text {
  font-family: "Lato";
  font-style: normal;
  color: #fff;
  margin-left: 20vh;
  margin-top: 15px;
  font-size: 16px;
  line-height: 19px;
}

.copyright {
  display: block;
}

.icon {
  display: flex;
  justify-content: center;
}

.ico {
  margin: 10px;
  height: 32px;
}

.fa-brands {
  border-radius: 1px;
  font-size: 32px;
  color: #FFFFFF;
  background-color: #000000;
}

.fa-brands:hover {
  color: #F16D7F;
  background-color: #fff;
}

.ptbImg {
  max-width: 100%;
}

.twolinlk {
  background-color: #F8F3F4;
}

.container__productlink {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
}

.productlink {
  display: flex;
  padding-right: 2vh;
}

.h3-arrivals {
  text-transform: uppercase;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  padding-left: 2vh;
}

.active {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.active:hover {
  color: #F16D7F;
}

.productlink {
  margin-top: 65px;
  margin-bottom: 65px;
}

.container-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-angle-left,
.fa-angle-right {
  padding-left: 15px;
  padding-right: 15px;
  height: 47px;
  font-size: 47px;
  color: #000000;
  background: rgba(42, 42, 42, 0.15);
}

.fa-angle-left:hover,
.fa-angle-right:hover {
  color: #F16D7F;
}

.product-top-banner {
  margin-top: 10px;
  margin-bottom: 50px;
}

.product-content {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
  background-color: #fff;
  border: 1px solid #EAEAEA;
}

.pc-h3 {
  text-transform: uppercase;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-top: 65px;
  color: #F16D7F;
}

.hrprod {
  width: 63px;
  margin-top: 12px;
  background: #EF5B70;
}

.pc-h3-2 {
  margin-top: 12px;
  text-transform: uppercase;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.pc-text {
  margin-top: 48px;
  margin-bottom: 32px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  max-width: 600px;
  color: #5E5E5E;
}

.pc-price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.hrprod2 {
  width: 640px;
  margin-top: 65px;
  margin-bottom: 65px;
}

.pc-menu {
  display: flex;
  margin: 0 auto;
}

.pc-summary {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-left: 10px;
  color: #6F6E6E;
  display: block;
}

.pc-summary::-webkit-details-marker {
  display: none;
}

.pc-summary::after {
  content: url(/img/sum-pic.png);
  padding-left: 0.5em;
}

.pc-details[open] > summary::after {
  content: url(/img/sum-pic.png);
  padding-left: 0.5em;
}

.pdetails {
  text-align: center;
}

.pc-add {
  display: flex;
  padding: 6px 12px 6px 12px;
  align-items: center;
  border: 1px solid #F26376;
  pointer-events: auto;
  margin-top: 50px;
  margin-bottom: 70px;
}

.add-ps-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-left: 5px;
  color: #F26376;
}

.pc-add:hover {
  background: #F26376;
}

.pc-add:hover .add-ps-text {
  color: #FFFFFF;
}

.fa-cart-shopping {
  color: #F26376;
}

.pc-add:hover .fa-cart-shopping {
  color: #FFFFFF;
}

.container_filter {
  max-width: 1140px;
}

.sec-filter {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  max-width: 100%;
}

.menu-filter {
  display: flex;
  margin-bottom: 20px;
}

.text-filter {
  padding-top: 14px;
  padding-right: 7px;
  text-transform: uppercase;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #EF5B70;
}

.filter-link {
  display: flex;
  justify-content: center;
  padding-top: 14px;
  padding-right: 40%;
}

.filter {
  padding-left: 2vh;
}

.menu-box-filter {
  margin-top: 13px;
  position: relative;
  z-index: 1;
}

.filter-box {
  background: #FFFFFF;
  border: 1px solid #F16D7F;
  padding: 20px;
  position: absolute;
  top: 0px;
  left: -50px;
  display: none;
}

.filter-box:hover {
  box-shadow: 0 0 10px rgb(71, 71, 71);
}

.menu-box-filter:hover .filter-box {
  display: flex;
  flex-direction: column;
}

.filter-sum-menu {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #EF5B70;
}

.head-menu-filter {
  display: flex;
  height: 40px;
}

.menu-filter-link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-left: 20px;
  padding-right: 150px;
  padding-bottom: 7px;
  display: block;
  text-decoration: none;
}

.filter-summary {
  display: flex;
  font-family: "Lato";
  font-style: normal;
  font-size: 14px;
  height: 40px;
  line-height: 34px;
  color: #EF5B70;
  text-transform: uppercase;
  padding-right: 5px;
  padding-left: 5px;
}

.filter-summary::-webkit-details-marker {
  display: none;
  padding-right: 0.3em;
}

.filter-summary::before {
  content: url(/img/filter-left.jpg);
  padding-right: 10px;
}

.filter-details[open] > summary::before {
  content: url(/img/filter-left.jpg);
}

.filter-hr {
  width: 290px;
  color: #EBEBEB;
}

.pagination-box {
  max-width: 1140px;
}

.pag-section {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.number-page {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #abaaaa;
}

.number-page:hover {
  color: #EF5B70;
  font-size: 25px;
  line-height: 28px;
}

.pag-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pag-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 45px;
  border: 1px solid #abaaaa;
}

.pag-section:hover {
  box-shadow: 0 0 10px #636363;
}

.fa-chevron-right,
.fa-chevron-left {
  padding-left: 5px;
  padding-right: 5px;
  height: 15px;
  font-size: 15px;
  color: #000000;
}

.fa-chevron-right:hover,
.fa-chevron-left:hover {
  color: #F16D7F;
  height: 25px;
  font-size: 25px;
}

.check {
  display: flex;
}

.fa-check {
  padding-right: 20px;
  margin-top: 10px;
  font-size: 24px;
}

.Getin {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 5px;
  margin-bottom: 5px;
}

.loyal {
  text-transform: uppercase;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 20px;
  margin-top: 50px;
  color: #000000;
}

.left-form {
  max-width: 45vw;
  margin-left: 5vw;
}

fieldset {
  border: 0 none;
}

.form-block {
  max-width: 100%;
  padding-right: 2vh;
}

.right-form {
  margin-top: 15px;
  margin-bottom: 15px;
}

.r-f-size {
  display: inline-block;
  width: 25vw;
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #EAEAEA;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #EAEAEA;
}

.pass-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #EAEAEA;
  width: 360px;
}

.button-form {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-transform: uppercase;
  border-color: transparent;
  padding: 15px;
  background: #F16D7F;
  margin-top: 50px;
  margin-bottom: 50px;
}

.button-form:hover {
  border-color: #F16D7F;
  color: #F16D7F;
  background: #FFFFFF;
}

.fa-arrow-right-long {
  padding-left: 10px;
}

.form-h4 {
  margin-top: 50px;
  margin-bottom: 15px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.cart {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
}

.megacart1 {
  margin-bottom: 5vh;
}

.cartBox {
  display: flex;
  margin-top: 1vh;
}

.cartBox:hover {
  box-shadow: 0 0 10px rgb(71, 71, 71);
}

.qant {
  display: flex;
}

.inqant {
  font-family: "Lato";
  padding-left: 10px;
  outline: none;
}

.mango {
  margin-top: 2vh;
  margin-bottom: 6vh;
  text-transform: uppercase;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.pricetext {
  padding-right: 2vh;
  padding-bottom: 0.5vh;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.cartPrice {
  padding-left: 5vh;
  padding-right: 5vh;
}

.priceSpan {
  color: #e2bdbd;
}

.card-button-form {
  background-color: #fff;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  cursor: pointer;
  border: 1px solid #A4A4A4;
  padding: 15px;
  margin-right: 1vh;
}

.card-button-form:hover {
  background-color: #f498a5;
  box-shadow: 0 0 15px #F16D7F;
}

.cartBottomLink {
  display: flex;
  justify-content: space-between;
}

.priceCart {
  display: flex;
  flex-direction: column;
  background: #F5F3F3;
  padding: 3vh;
}

.priceCart:hover {
  background: #ebe3e3;
  box-shadow: 0 0 10px rgb(186, 157, 169);
}

.button-formCard {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: #F16D7F;
  text-transform: uppercase;
  border-color: transparent;
  padding: 15px 35px 15px 35px;
  cursor: pointer;
}

.button-formCard:hover {
  border-color: #F16D7F;
  color: #F16D7F;
  background: #F5F3F3;
}

.priceSUb {
  margin-bottom: 1vh;
  text-transform: uppercase;
  text-align: right;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.priceGrand {
  text-align: right;
  text-transform: uppercase;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.cartHr {
  margin-bottom: 15px;
  background-color: #E2E2E2;
}

.fbForm {
  max-width: 100%;
}

.cart {
  padding-left: 2vh;
}

:user-valid .container {
  max-width: 768px;
}

@media screen and (min-width: 321px) and (max-width: 463px) {
  .productlink {
    flex-direction: column;
  }
}
.scr-banner {
  max-width: 100%;
  align-self: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .headerIndex {
    border-left: 10px #F16D7F solid;
  }

  .pass-text {
    width: 76vw;
  }

  .mega-box {
    top: 43px;
  }

  .addproduktN {
    position: absolute;
    color: #FFFFFF;
    left: 42%;
    top: -15%;
  }

  .boxtext {
    left: 26%;
    top: 34%;
  }

  .textbox {
    font-size: 2vw;
  }

  .textbox2 {
    font-size: 2vw;
  }

  .boxtextlong {
    left: 41%;
    top: 27%;
  }

  .item-flex {
    grid-template-columns: repeat(2, 1fr);
  }

  .filter-link {
    padding-right: 2vh;
  }

  .search {
    padding-left: 2vh;
  }

  .logo {
    margin-left: 2vh;
  }

  .menu1 {
    margin-right: 2vh;
  }

  .menu2 {
    padding-left: 10px;
  }

  .container_footer {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  .container_form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .copyright_text {
    margin-left: 2vh;
  }

  .cart {
    flex-direction: column;
    padding-right: 2vh;
    padding-left: 2vh;
  }

  .cartPrice {
    padding-left: 3vh;
    padding-right: 0vh;
  }

  .form-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 0vh;
  }

  .pageform {
    flex-direction: column;
    padding-left: 2vh;
    align-items: center;
  }

  .button {
    font-size: 13px;
  }

  .cartBottomLink {
    justify-content: space-around;
  }

  .cartImage {
    min-width: 10vh;
  }

  .priceCart {
    margin-left: 1vh;
    margin-bottom: 2vh;
  }

  .r-f-size {
    width: 75vw;
  }

  .form-input {
    padding: 0;
  }

  .fa-angle-left,
.fa-angle-right {
    padding-left: 1vh;
    padding-right: 1vh;
    height: 35px;
    font-size: 35px;
  }

  .left-form {
    max-width: 100%;
    margin-left: 2vh;
  }

  .section-box {
    flex-direction: column;
  }

  .vh-logo {
    width: 80%;
  }

  .fullblack,
.push {
    height: 45px;
  }
}
@media screen and (max-width: 530px) {
  .button-formCard {
    align-items: center;
  }
}
@media screen and (max-width: 320px) {
  .top-pic {
    display: none;
  }

  .pass-text {
    width: 76vw;
  }

  .right-tp {
    height: 20vh;
    padding-left: 15vw;
    padding-right: 0vh;
  }

  .form-block {
    flex-direction: column;
  }

  .headerIndex {
    border-left: 7px #F16D7F solid;
    font-size: 5vw;
  }

  .form-block {
    display: flex;
    justify-content: space-between;
    padding-right: 0vh;
    padding-left: 0vh;
  }

  .pageform {
    flex-direction: column;
    padding-left: 2vh;
    align-items: center;
  }

  .left-form {
    max-width: 100%;
    margin-left: 2vh;
  }

  .fa-angle-left,
.fa-angle-right {
    padding-left: 1vh;
    padding-right: 1vh;
    height: 25px;
    font-size: 25px;
  }

  .cart {
    flex-direction: column;
    margin-right: 2vh;
  }

  .priceCart {
    margin-bottom: 2vh;
  }

  .cartBox {
    flex-direction: column;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .textbox {
    font-size: 4vw;
  }

  .textbox2 {
    font-size: 4vw;
  }

  .item-flex {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }

  .container__productlink {
    flex-direction: column;
    align-items: center;
  }

  .h3-arrivals {
    padding-left: 0;
  }

  .productlink {
    padding: 2vh 1vh 2vh 1vh;
    margin: 0 auto;
  }

  .text-filter {
    display: none;
  }

  .search {
    padding-left: 1vh;
  }

  .vh-logo {
    width: 70%;
  }

  .menu2 {
    display: none;
  }

  .menu3 {
    display: none;
  }

  .logo {
    margin-left: 2vh;
  }

  .menu1 {
    margin-right: 2vh;
  }

  .container_footer {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  .container_form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button {
    border-radius: 0 20px 20px 0;
    border-color: transparent;
    padding: 5px;
    font-size: 13px;
  }

  .form-input {
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    background: #E1E1E1;
    border-radius: 20px 0 0 20px;
    padding: 8px 0 8px 0;
    border-color: transparent;
    min-width: 20px;
  }

  .cc {
    flex-direction: column;
    align-items: center;
  }

  .copyright_text {
    margin-left: 1vh;
  }

  .contBottom {
    flex-direction: column;
  }

  .left1 {
    order: 1;
  }

  .rfReg {
    width: 19vh;
  }

  .section-box {
    flex-direction: column;
  }

  .fullblack {
    height: 40px;
  }

  .mbox {
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
  }

  .box {
    max-width: 100%;
  }

  .boxtext {
    left: 36%;
    top: 34%;
    width: 30vw;
  }

  .boxtextlong {
    left: 30%;
    top: 0%;
  }

  .container__box {
    margin-top: 0px;
    max-width: 100%;
  }

  .add-box {
    top: 85px;
  }

  .cc {
    background-color: black;
  }

  .r-f-size {
    width: 75vw;
  }

  .mega-box {
    top: 39px;
    right: -16px;
  }
}/*# sourceMappingURL=style.css.map */